body {
    color:black;
    
    background-color: hsl(237, 23%, 88%);
}

.container-fluid {
    display: flex;
    list-style-type: none; 
    margin: 0;
    padding: 10px;
    background-color: hsl(237, 53%, 22%) ;
    
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    font-family: 'Dosis', sans-serif;
    color: white;

}
.portada{
    position: relative;
    display: inline-block;
    text-align: center;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}